.heroesTable {
    width: 35%;
    margin-left: -40px;
    font-family: Arial;
}

.add{
  font-family: Arial;
}
  
.buttonTransparent {
  background-color: Transparent;
  border: none;
  cursor:pointer;
  color: blue;
}

.colorRed {
  color: red;
}

.inlineBlock {
  display: inline-block;
}

.marginLeft {
  margin-left: 5px;
}
