<h2>To-Do List</h2>
<ul>
    <table class="heroesTable">
        <tbody>
            <tr *ngFor="let task of taskList">
                <td>{{task.completed}}</td>
                <td>{{task.taskDescription}}</td>
                <td>
                    <a routerLink="/update/{{task.idTask}}">
                        <button>Edit</button>
                    </a>
                    <button (click)="delete(task)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ul>

<div class="form"*ngIf="task ">
    <div>
        <input [(ngModel)]="task.taskDescription" class="add" placeholder="New task" />
    </div>
    <button class="saveTask" (click)="saveTask()" >Add</button>
</div>



