<h2>To-Do List</h2>
<ul>
    <table class="heroesTable">
        <tbody>
            <tr *ngFor="let task of taskList">
                <td>
                    <input type="checkbox" [(ngModel)]="task.completed" (change)="updateTask(task)">
                </td>
                <td>{{task.taskDescription}}</td>
                <td>
                    <a routerLink="/update/{{task.idTask}}">
                        <button class="buttonTransparent">Edit</button>
                    </a>
                    <button class="buttonTransparent colorRed" (click)="delete(task)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ul>

<div *ngIf="task">
    <div class="inlineBlock">
        <input [(ngModel)]="task.taskDescription" class="add" placeholder="New Task" />
    </div>
    <button class="marginLeft inlineBlock" (click)="saveTask()">Add</button>
</div>